.custom-header img{
    padding: 0px;
    position: fixed;
    top: 0px;
    z-index: -1;
}
.custom-header{
    background-color: transparent;
    height: 600px;
}

.custom-header .site-branding{
    background-color: transparent;
    color: white;
    margin-top: 500px;
    margin-left: 200px;
}



.main{
    position: relative;
    background-color: white;
    padding-bottom: 60px;
}

.main-content{
    margin-top: 30px;
}

.widget-title{
    font-size: 1rem;
}
.widget ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}
.widget ul li{
    margin-left: 0px;
}
footer{
    position: relative;
    text-align: center;
    height: 50px;
    background-color: #3c3c3c;
    color: white;
    padding-top: 20px;
}
